ion-modal#example-modal {
    --width: fit-content;
    --min-width: 100px;
    --max-width: 500px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

    ion-modal#example-modal h1 {
        margin: 0px 40px 10px 40px;
    }

    ion-modal#example-modal .wrapper {
        padding: 40px;
        background-color: #1E1D1D;
        border-radius: 12px;
    }

.modal-title {
    color: white;
    text-align: center;
}

.modal-text {
    color: white;
    font-weight: 100;
    font-family: 'Courier New';
}

.modal-banner {
    display: flex;
    align-items: center;
}

p {
    color: white;
}
